@@include('../include/_head.html', {
	"page": "confirm"
})
	
</head>
<body class="page-board">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <div class="container">
            <!-- tab -->
            <div class="tab-area">
                <ul class="tab-menu">
                    <li class="tab-1"><a href="./reservation.html">예약내역 조회</a></li>
                    <li class="tab-2 on"><a href="./accomm.html">무료숙박권 사용내역</a></li>
                </ul>
            </div>

            <section class="accomm-sect">
                <h2 class="con-tit">무료숙박권 사용내역</h2>
                <div class="sect-contents">
                    ================== 개발영역 ==================
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    ================== 개발영역 ==================
                </div>
            </section>
        </div>
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>