<header class="header">
	<div class="top-area">
	    <h1 class="logo"><a href="../main/index.html"><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/common/logo.png" alt="로고"></a></h1>
	    <div class="until-box">
	        <div class="l-box">
				<img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/common/top_sub_ment.png" alt="서브멘트">
	        </div>
	        <div class="r-box">
                <!-- 로그인 시에만 노출 -->
	            <ul class="menu-login-ul">
	                <li class="name-box"><p class="p-name">고길동님(VIP)</p></li>
	                <li class="btn-myinfo-box"><a href="../mypage/index.html" class="btn-go-myinfo">마이페이지</a></li>
	                <li class="btn-logout-box"><button type="button" class="btn-logout">로그아웃</button></li>
				</ul>
				<!--///로그인 시에만 노출 -->
	        </div>
	    </div>
	</div>
	<div class="gnb">
        <!-- 190701 메뉴 수정 -->
	    <ul class="menu">
	        <li class="item-1">
	            <a href="../lodgment/index.html">리조트 & 호텔 예약</a>
	            <!-- <ul class="sub-menu">
	                <li><a href="../board/index.html"><span>공지사항</span></a></li>
	                <li><a href="../board/index_2.html"><span>FAQ</span></a></li>
	                <li><a href="../board/index_3.html"><span>문의하기</span></a></li>
	            </ul> -->
	        </li>
	        <li class="item-2">
                <a href="../confirm/reservation.html">예약확인</a>
	        </li>
	        <li class="item-3">
	            <a href="../benefit/index.html">혜택/이용안내</a>
			</li>
			<li class="item-4">
                <a href="../board/notice.html">고객센터</a>
			</li>
	    </ul>
	</div>
</header>
<!--//.header-->