<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="description", content="description">
	<meta name="keywords", content="keywords">
	<meta name="author", content="author">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>수분양</title>

	<meta property="og:locale" content="ko_KR">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:description" content="">
	<meta name="twitter:title" content="">
	<!--<link rel="canonical" href="도메인">-->
	
	<!--폰트-->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
		
	<!--공통 Css-->
	<!-- <link rel="stylesheet" href="http://static.ramadapt.co.kr/css/owner/common.css"> -->
	<link rel=stylesheet href="../../static/css/owner/common.css">	 
	<!--개별 Css-->
	<!-- <link rel=stylesheet href="http://static.ramadapt.co.kr/css/owner/@@page/init.css"> -->
	<link rel=stylesheet href=../../static/css/owner/@@page/init.css>
	
	<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script> -->
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/detectizr/1.5.0/detectizr.min.js"></script> -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	
    <script>
        // Modernizr.Detectizr.detect();
    </script>
    
	<!--공통 Js-->
    <!-- <script src="http://static.ramadapt.co.kr/js/jquery.easing.1.3.js"></script> -->
	<!-- <script src="http://static.ramadapt.co.kr/js/common.js"></script> -->
   
	<!-- <script src="http://static.ramadapt.co.kr/js/owner/common.js"></script> -->
    <script src="../../static/js/owner/common.js"></script>
	<!--개별 Js-->
	<script src="http://static.ramadapt.co.kr/js/owner/@@page/init.js"></script>
    <!-- <script src=../../static/js/owner/@@page/init.js></script> -->
    
    
	
