@@include('../include/_head.html', {
	"page": "reserve"
})

<!--슬라이드 부분-->
<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->
<link rel=stylesheet href="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/static/css/libs/slick.css">
<script src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/static/js/libs/slick.min.js"></script>
<!--슬라이드 부분//-->

</head>
<body class="page-discount">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <div class="container">
            <section class="reserve-sect">
                <div class="intro-area">
                    <div class="top-sub">
                        <a href="../lodgment/index.html" class="btn-go-lodgment"><span class="icon-arrow">시설목록</span></a>
                        <p class="name">오션투유리조트</p>
                    </div>
                    <div class="intro-contents">
                        <div class="intro-main">
                            <div class="slide-area">
                                <div class="type-box"><p class="p-type">리조트<br>&콘도</p></div>
                                
                                <ul class="slide-ul">
                                    <!--테스트용 이미지들-->
                                    <li><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/reserve/test_img01.jpg" alt="이미지"></li>
                                    <li><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/reserve/test_img02.jpg" alt="이미지"></li>
                                    <li><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/reserve/test_img03.jpg" alt="이미지"></li>
                                    <li><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/reserve/test_img04.jpg" alt="이미지"></li>
                                    <li><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/reserve/test_img05.jpg" alt="이미지"></li>
                                </ul>
                                <div class="slide-control"></div>
                            </div>
                            <div class="info-area">
                                <div class="title-box">
                                    <h4 class="title-main mark-best">오션투유리조트</h4>
                                    <div class="title-sub">
                                        <p class="address">강원도 고성군 죽왕면</p>
                                        <div class="lank-star">
                                            <img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/lodgment/lank_star_full.png" alt="랭크">
                                            <img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/lodgment/lank_star_full.png" alt="랭크">
                                            <img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/lodgment/lank_star_full.png" alt="랭크">
                                            <img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/lodgment/lank_star_full.png" alt="랭크">
                                            <img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/lodgment/lank_star_half.png" alt="랭크반">
                                        </div>
                                    </div>
                                </div>
                                <div class="info-box">
                                    <table class="info-table">
                                        <tbody>
                                            <tr>
                                                <td>분류</td>
                                                <td>리조트(249객실)</td>
                                            </tr>
                                            <tr>
                                                <td>주소</td>
                                                <td>
                                                    <div class="address01">
                                                        <p>강원 강릉시 주문진읍 교항리 190-4</p>
                                                        <a href="#none" class="btn-view-map">지도보기</a>
                                                    </div>
                                                    <div class="address02">
                                                        <div class="num-txt-box">지번</div>
                                                        <p>
                                                            강원 강릉시 주문진읍 교항리 190-4
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>이용시간</td>
                                                <td>체크인 15:00 / 체크아웃 11:00</td>
                                            </tr>
                                            <tr>
                                                <td>부대시설</td>
                                                <td>조식운영,  주차장,  연회장, 식당, 공용바베큐장, 
                                                    편의점,
                                                    공용 Wi-Fi</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="p-hesh">#삼포해변   #바닷가리조트   #설악산 인접</p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="intro-guide">
                            <div class="guide-main">
                                <p class="title">할인숙박권 예약안내</p>
                                <div class="cont">
                                    <p class="p-txt">
                                        ㆍ시설은 주중/주말에 사용 가능합니다. 단, 성수기(여름/겨울/연휴) 기간은 제외
                                        <br>
                                        ㆍ시설 이용 시 소모성 <span class="span-red">관리비 4만원은 별도 지불</span>하셔야 합니다.
                                        <br>
                                        ㆍ시설은 사전 예약시 이용이 가능하며, 예약시 직원에게 고유번호를 알려주셔야 합니다.
                                        <br>
                                        ㆍ시설은 1실 / 1박의 혜택을 받으실 수 있으며, 객실 업그레이드시 추가요금이 발생합니다.
                                        <br>
                                        ㆍ<span class="span-red">체크인시 회원카드와 예약이용권을 반드시 제시</span>하여야 합니다.
                                        <br>
                                        ㆍ예약 후 미입실 하시는 경우 NO SHOW로 처리되며, 숙박을 이용한 것으로 간주되어 소멸됩니다.
                                        <br>
                                        ㆍ본인 및 가족만 사용가능하며 타인에게 매매,양도 또는 환불이 불가합니다.
                                        <br>
                                        ㆍ기재된 쿠폰의 금액과 시설사용료간의 차액 발생시 환불은 불가합니다.
                                        <br>
                                        ㆍ이용가능한 시설과 안내사항 및 규정은 당사의 사정에 의해 변경될 수 있으니 참고해 주십시오.
                                    </p>
                                </div>
                            </div>
                            <div class="guide-cancel">
                                <p class="title">취소/변경 및 환불안내</p>
                                <div class="cont">
                                    <ul class="cancle-ul">
                                        <table class="guide-table">
                                            <tbody>
                                                <tr>
                                                    <td>이용일 기준 5일전</td>
                                                    <td>
                                                        ㆍ결제금액 100% 환불
                                                        <br>
                                                        ㆍ무료숙박권 반환처리
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>이용이 기준 4일전~당일</td>
                                                    <td>
                                                        ㆍ결제금액 환불불가
                                                        <br>
                                                        ㆍ무료숙박권 사용처리
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-area">
                    =============개발영역============
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    =============개발영역============
                </div>
            </section>
            <div class="popup-gallery">
                <div class="gallery-area">
                    <div class="title">갤러리</div>
                    <button type="button" class="btn-close-gallery">X</button>
                    <div class="gallery-slide">
                        <ul class="gallery-slide-ul">
                            
                        </ul>
                        <button type="button" class="btn-slide-prev btn-slide-arrow"><span>&lt;</span></button>
                        <button type="button" class="btn-slide-next btn-slide-arrow"><span>&gt;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--//.contents-->    
    

    <script>
        $(document).ready(function(){
            //이미지 복사
            let slidelist = $(".slide-area .slide-ul li").clone();
            let gallerySettingOn = false;
            
            //슬리이더 부분
            $(".slide-area .slide-ul").slick({
                draggable: false,
                arrows: false,
                speed: 0,
                dots: true,
                dotsClass: "slide-control",
                customPaging: function(item, i){
                    console.log();
                    let info = $(item.$slides[i]).html();
                    let btn = "<div class='btn-slide'>"+ info +"</div>";
                    if(i == 3){
                        btn = "<div class='btn-slide'>"+
                            "<div class='btn-more'><p class='p-more'><span class='icon-cross'></span>더 보기</p></div>"
                            + info +"</div>";
                    }

                    if(i >= 4){
                        return false;
                    }
                    return btn;
                },      
            });


            //갤러리 부분
            //더보기 클릭
            $(".btn-more").on("click", function(){
                $(".popup-gallery").show();                
                if(gallerySettingOn == false){
                    //이미지 갤러리팝업에 붙여넣기
                    $.each(slidelist, function(i,item){
                        $(".popup-gallery .gallery-slide .gallery-slide-ul").append(item);
                    });
                    //슬라이드 세팅
                    $(".gallery-slide .gallery-slide-ul").slick({
                        arrows: true,
                        prevArrow: $('.gallery-slide .btn-slide-prev'),
                        nextArrow: $('.gallery-slide .btn-slide-next'),
                        speed: 200,
                        dots: false,
                    });
                    //작동
                    gallerySettingOn = true;

                }  
            });

            $(".btn-close-gallery").on("click", function(){
               $(".popup-gallery").hide();
            });

            
            //별 점수
            setLankstar(4.5);

        });

        //별점수
        let setLankstar = function(num){
            //기본 이미지 경로
            let baseImgPath = "http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/lodgment/";

            let lank = $('.lank-star');

            let lankNum = num;
            let lankInt = parseInt(lankNum);
            let lankFloat = lankNum % 1;
            
            if(lankNum > 5){lankInt = 5; lankFloat = 0;}

            lank.empty();
            for (let i = 0; i < lankInt; i++) {
                lank.append("<img src='"+ baseImgPath +"lank_star_full.png"+ "' alt='랭크'>");
            }
            if(lankFloat != 0){
                lank.append("<img src='"+ baseImgPath +"lank_star_half.png"+ "' alt='랭크반'>");
            }
        }

    </script>

	@@include('../include/_footer.html') 
</div>

</body>
</html>