@@include('../include/_head.html', {
	"page": "main"
})
<script src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/static/js/main/init.js"></script>

</head>
<body class="page-main">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <section class="main-sec">
            <div class="main-area">
                <!-- 로그인 완료 화면 영역 -->
                <div class="main-box login-cm">
                    <p class="p-1">
                        <span class="cm-name">고길동</span>님<br>
                        <span class="cm-t-deco">리조트앤호텔 방문</span>을<br>
                        환영합니다!
                    </p>
                    <p class="p-2">
                        리조트앤호텔에서 제공하는 리조트, 호텔  숙박을<br>
                        프리미엄 회원가로 저렴하게 예약하세요!
                    </p>
                    <a href="" class="btn-go-facility"><span>제휴 시설보기</span></a>
                </div>
                
                <!--//.main-box -->
            </div>
            <!--//.main-area -->
        </section>
	</div>
	<!--//.contents-->    

	@@include('../include/_footer.html') 
</div>

</body>
</html>