@@include('../include/_head.html', {
	"page": "benefit"
})
</head>
<body class="page-discount">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <div class="container">
            <div class="con-area">
                <div class="benefit-area">
                    <div class="benefit-intro">
                        <div class="benefit-contents">
                            <p class="member-box">
                                <span class="span-name">고길동</span><span class="span-nim">님</span>은 프리미엄 멤버스회원입니다.
                            </p>
                            <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/benefit/benefit_intro.png" alt="인트로"></div>
                        </div>
                    </div>
                    <div class="benefit-premium">
                        <div class="benefit-contents">
                            <div class="premium-area">
                                <div class="bg-box">
                                    <img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/benefit/premium_contents.png" alt="프리미엄">
                                </div>
                                <div class="ticket-box">
                                    <div class="ticket-title"><span>보유무료숙박권</span></div>
                                    <div class="ticket-num"><span>15매</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="benefit-use">
                        <div class="benefit-contents">
                            <div class="title">
                                <img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/benefit/use_title.png" alt="타이틀">
                            </div>
                            <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/resort_hotel_sell/img/benefit/use_order.png" alt="순서"></div>
                        </div>
                    </div>
                    <div class="benefit-guide">
                        <div class="benefit-contents">
                            <h4 class="title">할인숙박권 예약안내</h4>
                            <p class="p-txt">
                                ㆍ시설은 주중/주말에 사용 가능합니다. 단, 성수기(여름/겨울/연휴) 기간은 제외
                                <br>
                                ㆍ시설 이용 시 소모성 <sapn class="txt-red">관리비 4만원</sapn>은 별도 지불하셔야 합니다.
                                <br>
                                ㆍ시설은 사전 예약시 이용이 가능하며, 예약시 직원에게 고유번호를 알려주셔야 합니다.
                                <br>
                                ㆍ시설은 1실 / 1박의 혜택을 받으실 수 있으며, 객실 업그레이드시 추가요금이 발생합니다.
                                <br>
                                ㆍ<sapn class="txt-red">체크인시 회원카드와 예약이용권</sapn>을 반드시 제시하여야 합니다.
                                <br>
                                ㆍ예약 후 미입실 하시는 경우 NO SHOW로 처리되며, 숙박을 이용한 것으로 간주되어 소멸됩니다.
                                <br>
                                ㆍ본인 및 가족만 사용가능하며 타인에게 매매,양도 또는 환불이 불가합니다.
                                <br>
                                ㆍ기재된 쿠폰의 금액과 시설사용료간의 차액 발생시 환불은 불가합니다.
                                <br>
                                ㆍ이용가능한 시설과 안내사항 및 규정은 당사의 사정에 의해 변경될 수 있으니 참고해 주십시오.
                            </p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    
    <!--//.contents-->    
    



	@@include('../include/_footer.html') 
</div>

</body>
</html>